body {
  background-color: blue;
  color: darkslateblue;
  font-family: arial;
  font-size: 100%;
  line-height: 1;
  /* margin: 15px 15px 15px */
  background-image: url(images/lake.jpg)
}

h1 {
  color: white;
  background-color: black;
  font-size: 18px;
  line-height: 2;
}

ul {
  color: white;
}

h2 {
  background-color: black;
  color: white;
  font-size: 24px;
}

header {
  background-color: black;
}

h3 {
  font-size: 24px;
}

li {
  background-color: white;
}

ul, ol {
  color: white;
  margin: 15px 0;
}

*{
  font-size: 100%;
}

h1, h2, h3 {
  font-weight: 400;
}

p {
line-height: `1`;
color: white;
text-align:justify;
margin-bottom: 20px;
boreder: 1px solid yellow;
margin: 15px 0;
/* padding: 30px; */
}

header h1 {
  text-align: center;
}

a:link,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: red;
}

/* *{
  fontsize: 100%; */
  /* border:1px solid black; */
  /* margin: 0; */
  /* line-height: 1; */
}

.about {
  background-color: red;
}

.about h1 {
  fontsize: 18px
}

.title {
  font-size: 48px;
  text-decoration: underline;
  color: white;
}

#footer p {
  color: red;
}

.container {
  /* max-width: 1000px */
}

div{
  margin: 0 auto;
}

/* .banner {
  height: 300px;
  background-image: url(images/banner2.jpg); */
}
